<div class="add-giftcard-btn">
  <span class="add-giftcard-btn__plus-icon"></span>
  <span class="add-giftcard-btn__card-icon"></span>
  <span class="add-giftcard-btn__text">add one more giftcard</span>
</div>
