<div class="giftcard-radio">
  <div class="giftcard-radio__content">
    <div w3-include-HTML="components/giftcardFront.html"></div>
    <div class="giftcard-radio__text">
      <h4 class="giftcard-radio__title">${giftcard-type}</h4>
      <p class="giftcard-radio__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pulvinar ex dui, et commodo tellus efficitur id. Pellentesque vitae sem malesuada elit auctor interdum.</p>
      <div w3-include-HTML="components/customRadio.html"></div>
    </div>
  </div>
</div>
