<div class="card-email-preview">
  <div class="card-email-preview__header">
    <div class="card-email-preview__info">
      <span class="card-email-preview__label">from:</span>
      <span class="card-email-preview__value">email1@domain.com</span>
    </div>
    <div class="card-email-preview__info">
      <span class="card-email-preview__label">to:</span>
      <span class="card-email-preview__value">email2@domain.com</span>
    </div>
    <div class="card-email-preview__info card-email-preview__subject">
      <span class="card-email-preview__label">subject:</span>
      <span class="card-email-preview__value">An Oakley giftcard for you</span>
    </div>
  </div>
  <div class="card-email-preview__body-wrapper">
    <div class="card-email-preview__body">
      <div class="card-email-preview__text-area">
        <h1 class="card-email-preview__headline ko-field" data-bind="textPlaceholder: headline">
          <span class="ko-field__placeholder">your headline</span>
          <span class="ko-field__value"></span>
        </h1>
        <p class="card-email-preview__message ko-field" data-bind="textPlaceholder: message">
          <span class="ko-field__placeholder">your message</span>
          <span class="ko-field__value"></span>
        </p>
        <div class="card-email-preview__sender-name">your name</div>
      </div>
      <div class="card-email-preview__card-details">
        <div class="giftcard-front-wrapper">
          <div w3-include-HTML="components/giftcardFront.html"></div>
          <div class="giftcard-front-wrapper__amount" data-bind="text: selectedAmount"></div>
        </div>
        <div class="card-email-preview__codes-wrapper">
          <div class="card-email-preview__codes-content">
            <div class="card-email-preview__code">
              <label class="card-email-preview__code__label">card number</label>
              <div class="card-email-preview__code__value">XXXX XXXX XXXX XXXX</div>
            </div>
            <div class="card-email-preview__code card-email-preview__pin">
              <label class="card-email-preview__code__label">pin</label>
              <div class="card-email-preview__code__value">XXXXXX</div>
            </div>
          </div>
        </div>
      </div>
      <div w3-include-HTML="components/customButton.html"></div>
    </div>
  </div>
</div>
