<!--
parameters:
  - type (string): 'text' (fallback case), 'area';
  - maxlenght (number);
  - twoWayBinded (string): name of the js variable binded with knockoutJs;
-->

<div class="custom-input-text">
  <label class="custom-input-text__title">headLine</label>
  <div class="custom-input-text__input custom-input-text__input--text">
    <input class="custom-input-text__field" type="text" data-bind="textInput: headline" />
  </div>
  <!-- <textarea class="custom-input-text__area"  data-bind="textInput: message, valueUpdate: 'afterkeydown'" /> -->
  <span class="custom-input-text__message">Max X characters</span>
</div>
