<!--
config classes, all on custom-radio element:
  - custom-radio--selected (selected radio)

parameters:
- name;
- value;
- selected;
- knockout binded variable;
-->

<div class="custom-radio">
  <label class="custom-radio__content">
    <span class="custom-radio__icon-wrapper">
      <span class="custom-radio__icon"></span>
    </span>
    <input class="custom-radio__input" type="radio" name="${name}" value="50" data-bind="checked: selectedAmount" />
    <span class="custom-radio__label">$$$</span>
  </label>
</div>
