<!--
config classes, all on custom-button element :
  - custom-button--animation-on (to animate icons on hover)
  - custom-button--black, custom-button--red (to set the btn's color)
  - custom-button--no-icons (all icons will be hidden)
-->

<a class="custom-button custom-button--animation-on" href="www.google.it">
  <span class="custom-button__text">
    configure your gift card
    <i class="custom-button__icon"></i>
  </span>
</a>
