<ul class="giftcard-recap">
  <li class="giftcard-recap__info">
    <span class="giftcard-recap__info-title">amount:</span>
    <span class="giftcard-recap__info-desc">${amount}</span>
  </li>
  <li class="giftcard-recap__info">
    <div class="giftcard-recap__info-title">to:</div>
    <div class="giftcard-recap__info-desc">${to-name}</div>
    <div class="giftcard-recap__info-desc">${to-email}</div>
  </li>
  <li class="giftcard-recap__info">
    <div class="giftcard-recap__info-title">from:</div>
    <div class="giftcard-recap__info-desc">${from-name}</div>
    <div class="giftcard-recap__info-desc">${from-email}</div>
  </li>
  <li class="giftcard-recap__info">
    <div class="giftcard-recap__info-title">title:</div>
    <div class="giftcard-recap__info-desc">${title}</div>
  </li>
  <li class="giftcard-recap__info">
    <div class="giftcard-recap__info-title">message:</div>
    <div class="giftcard-recap__info-desc">${message}</div>
  </li>
</ul>
