<div class="giftcard-pdp">
  <div class="giftcard-pdp__page-grid">
    <div class="giftcard-pdp__left">
      <div class="giftcard-pdp__step1">
        <div w3-include-HTML="components/sectionHeader.html"></div>
        <div class="step1__cards-types">
          <div class="step1__card-preview">
            <div w3-include-HTML="components/giftcardFront.html"></div>
          </div>
          <div class="giftcard-pdp__step-grid">
            <div w3-include-HTML="components/cardRadio.html"></div>
            <div w3-include-HTML="components/cardRadio.html"></div>
          </div>
        </div>
      </div>

      <div class="giftcard-pdp__step2">
        <div w3-include-HTML="components/sectionHeader.html"></div>
        <div class="giftcard-pdp__step-grid step2__cards-amount">
          <div class="step2__radio-list">
            <div w3-include-HTML="components/customRadio.html"></div>
            <div w3-include-HTML="components/customRadio.html"></div>
            <div w3-include-HTML="components/customRadio.html"></div>
            <div w3-include-HTML="components/customRadio.html"></div>
            <div w3-include-HTML="components/customRadio.html"></div>
            <div w3-include-HTML="components/customRadio.html"></div>
          </div>
          <div class="step2__select-box">
            <select>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>

      <div class="giftcard-pdp__step3">
        <div w3-include-HTML="components/sectionHeader.html"></div>
        <div class="giftcard-pdp__step-grid">
          <div class="giftcard-pdp__step3__form">
            <!-- <div w3-include-HTML="components/customInputText.html"></div>
            <div w3-include-HTML="components/customInputText.html"></div> -->

            <!-- TO BE REMOVED -->

            <div class="custom-input-text">
              <label class="custom-input-text__title">headLine</label>
              <div class="custom-input-text__input custom-input-text__input--text">
                <input class="custom-input-text__field" type="text" data-bind="textInput: headline" />
              </div>
              <span class="custom-input-text__message">Max X characters</span>
            </div>

            <div class="custom-input-text">
              <label class="custom-input-text__title">headLine</label>
              <div class="custom-input-text__input custom-input-text__input--area">
                <textarea class="custom-input-text__field" type="area" data-bind="value: message, valueUpdate: 'afterkeydown'" ></textarea>
              </div>
              <span class="custom-input-text__message">Max X characters</span>
            </div>

            <!-- TO BE REMOVED -->

          </div>
          <div class="giftcard-pdp__step3__add-to-cart">
            <div w3-include-HTML="components/customButton.html"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="giftcard-pdp__right">
      <div class="sticky-sidebar">
        <div class="preview-header">
          <span class="preview-header__title">Email preview</span>
          <a href="#" class="preview-header__modal-cta">Full preview of this email</a>
        </div>
        <div w3-include-HTML="components/cardEmailPreview.html"></div>
      </div>
    </div>
  </div>
  <div class="giftcard-pdp__modal">
    <div w3-include-HTML="components/cardEmailPreview.html"></div>
  </div>
</div>
