<table style="width: 400px; margin: 40px auto;">
  <tbody>
    <tr>
      <td style="width: 100%; text-align: center;">
        <table>
          <tbody>
            <tr>
              <td style="width: 100%; font-family: MorePro-Cond; font-size: 32px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 0.56; letter-spacing: normal; color: #222222; margin: 0 auto;">
                Your Headline
              </td>
            </tr>
            <tr>
              <td style="width: 100%; font-family: OpenSans; font-size: 14px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 1.29; letter-spacing: normal; text-align: center; color: #4a4a4a; margin: 0 auto; padding-top: 30px">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi leo mi, nonummy eget tristique non, rhoncus non leo. Nulla
                non arcu lacinia neque faucibus fringilla. In laoreet, magna id viverra tincidunt, sem odio bibendum justo,
                vel imperdiet sapien wisi sed libero. Mauris tincidunt sem sed arcu. Phasellus faucibus molestie nisl.
              </td>
            </tr>
            <tr>
              <td style="width: 100%; font-family: OpenSans; font-size: 14px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: 1.29; letter-spacing: normal; text-align: right; color: #4a4a4a; padding-top: 30px;">
                Your name
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="width: 362px; height: 204px; margin: 30px auto 20px; border-radius: 10px; background-color: #f7f7f7; border: solid 1px #cccccc;">
          <tbody>
            <tr>
              <td align="center">
                <table>
                  <tbody>
                    <tr style="position: relative; width: 200px; font-family: MorePro-Cond; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 0.97; letter-spacing: normal; text-align: center; color: #cccccc;">
                      <td style="vertical-align: baseline; font-size: 52px;">£</td>
                      <td style="font-size: 104px;">135</td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr style="width: auto; background-color: #f7f7f7;">
      <td style="display: inline-block;padding: 10px 18px 14px;">
        <table>
          <tbody>
            <tr>
              <td style="font-family: OpenSans; font-size: 13px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #4a4a4a;">
                Card number
              </td>
            </tr>
            <tr>
              <td style="font-family: OpenSans; font-size: 18px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 0.82; letter-spacing: normal; color: #9b9b9b; padding-top: 10px;">
                XXXX XXXX XXXX XXXX
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      <td style="display: inline-block; padding: 10px 18px 14px 30px;">
        <table>
          <tbody>
            <tr>
              <td style="font-family: OpenSans; font-size: 13px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #4a4a4a;">
                PIN
              </td>
            </tr>
            <tr>
              <td style="font-family: OpenSans; font-size: 18px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: 0.82; letter-spacing: normal; color: #9b9b9b; padding-top: 10px;">
                XXXXXX
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="width: 300px; background-color: rgb(0, 0, 0); border: 1px solid rgb(34, 34, 34); color: #ffffff; opacity: 0.5; text-transform: uppercase; text-align: center; font-weight: 400; margin: 50px auto 0;">
          <tbody>
            <tr>
              <td style="display: inline-block;">
                Shop on oakley.com
              </td>
              <td style="display: inline-block; padding: 13px 0 13px 10px">-></td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
