.add-giftcard-btn {
    display: flex;
    align-items: center;
    background: #f7f7f7;
    padding: 15px 20px;
    width: auto;
    .add-giftcard-btn__plus-icon {
        &::before {
            content: "+";
        }
    }
    .add-giftcard-btn__card-icon {
        display: inline-block;
        margin: 0px 15px;
        &::before {
            content: "";
        }
    }
    .add-giftcard-btn__text {
        text-transform: uppercase;
    }
}
