.card-email-preview {
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    .card-email-preview__header {
        padding: 20px 30px;
        .card-email-preview__info {
            font-size: 13px;
            font-weight: 400;
            line-height: normal;
            letter-spacing: normal;
            color: #9b9b9b;
            margin-bottom: 5px;
            &.card-email-preview__subject {
                margin-top: 15px;
                .card-email-preview__value {
                    font-weight: 400;
                }
            }
            .card-email-preview__label {
                text-transform: capitalize;
            }
            .card-email-preview__value {
                font-weight: 600;
            }
        }
    }
    .card-email-preview__body-wrapper {
        width: 100%;
        border-top: 1px solid #cccccc;
        .card-email-preview__body {
            width: 80%;
            text-align: center;
            letter-spacing: normal;
            color: #222222;
            padding-top: 20px;
            padding-bottom: 40px;
            margin: 0 auto;
            .card-email-preview__text-area {
                .card-email-preview__headline {
                    line-height: 0.56;
                    text-transform: capitalize;
                }
                .card-email-preview__message {
                    font-size: 14px;
                    line-height: 1.29;
                    margin-top: 30px;
                    margin-bottom: 40px;
                }
                .card-email-preview__sender-name {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.29;
                    text-align: right;
                    color: #4a4a4a;
                    margin-bottom: 30px;
                }
            }
            .card-email-preview__card-details {
                width: 100%;
                .giftcard-front-wrapper {
                    position: relative;
                    margin: 0 20px;
                    margin-bottom: 20px;
                    .giftcard-front {
                        border: 2px solid #cccccc;
                        background-color: #cccccc;
                        border-radius: 10px;
                        overflow: hidden;
                    }
                    .giftcard-front-wrapper__amount {
                        position: absolute;
                        top: ~"calc(50% - 52px)";
                        left: ~"calc(50% - 52px)";
                        font-size: 104px;
                        line-height: 104px;
                        letter-spacing: normal;
                        color: #cccccc;
                    }
                }
                .card-email-preview__codes-wrapper {
                    display: inline-block;
                    background: #f7f7f7;
                    .card-email-preview__codes-content {
                        display: flex;
                        width: 100%;
                        margin: 0 auto;
                        padding: 10px 20px;
                        .card-email-preview__code {
                            text-align: left;
                            letter-spacing: normal;
                            &.card-email-preview__pin {
                                margin-left: 48px;
                                .card-email-preview__code__label {
                                    text-transform: uppercase;
                                }
                            }
                            .card-email-preview__code__label {
                                display: inline-block;
                                font-size: 13px;
                                font-weight: 600;
                                line-height: normal;
                                text-transform: capitalize;
                                color: #4a4a4a;
                                margin-bottom: 10px;
                            }
                            .card-email-preview__code__value {
                                font-size: 22px;
                                line-height: 0.82;
                                color: #9b9b9b;
                            }
                        }
                    }
                }
            }
            .custom-button {
                margin-top: 50px;
            }
            .ko-field {
                .ko-field__placeholder {
                    opacity: 0.5;
                }
            }
        }
    }
}
