.custom-input-text {
    font-size: 13px;
    width: 100%;
    .custom-input-text__title {
        font-weight: 600;
        letter-spacing: normal;
        line-height: normal;
        color: #222222;
        text-transform: capitalize;
    }
    .custom-input-text__input {
        display: block;
        width: 100%;
        background-color: #ffffff;
        border: solid 1px #dbdbdb;
        margin: 5px 0;
        &.custom-input-text__input--text {}
        &.custom-input-text__input--area {
            height: 154px;
            .custom-input-text__field {
                resize: none;
            }
        }
        .custom-input-text__field {
            border: none;
            width: ~"calc(100% - 26px)";
            height: ~"calc(100% - 26px)";
            padding: 13px;
            &:focus {
                outline-color: transparent;
            }
        }
    }
    .custom-input-text__message {
        display: block;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #888888;
    }
}
