.custom-radio {
    .custom-radio__content {
        display: flex;
        align-items: center;
        position: relative;
        .custom-radio__icon-wrapper {
            display: inline-block;
            .custom-radio__icon {
                display: block;
                position: relative;
                top: 0;
                left: 0;
                width: 14px;
                height: 14px;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    border: 1px solid #d9d9d9;
                    background-color: #f7f7f7;
                    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.07), inset 0 1px 5px rgba(0,0,0,0.08);
                }
                &:hover {
                    cursor: pointer;
                    &::before {
                        box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.14), inset 0 1px 5px rgba(0,0,0,0.16);
                    }
                }
            }
        }
        .custom-radio__input {
            display: none;
        }
        .custom-radio__label {
            margin-left: 10px;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: normal;
            color: #222222;
        }
    }
    &.custom-radio--selected {
        .custom-radio__content {
            .custom-radio__icon-wrapper {
                .custom-radio__icon {
                    &::after {
                        content: "";
                        position: absolute;
                        top: ~"calc(50% - 3px)";
                        left: ~"calc(50% - 3px)";
                        width: 6px;
                        height: 6px;
                        background-color: black;
                        z-index: 2;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
}
