@import 'noProduction';

.custom-button {
    display: inline-block;
    position: relative;
    align-self: center;
    width: auto;
    padding: 12px 60px 12px 32px;
    border: solid 1px #222222;
    background-color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    .transition(0.5s all ease-in-out);
    @media @tablet {
        align-self: center;
    }
    @media @desktop {
        align-self: flex-start;
    }
    &.custom-button--animation-on {
        &:hover {
            padding: 12px 32px 12px 60px;
            .custom-button__text {
                &::before {
                    .opacity(1);
                    left: 32px;
                }
            }
            .custom-button__icon {
                &::before {
                    .opacity(0);
                    right: -14px;
                }
            }
        }
    }
    &.custom-button--no-icons {
        .custom-button__text, .custom-button__icon {
            &::before {
                content: "";
                display: none;
            }
        }
        &.custom-button--animation-on {
            &:hover {
                padding: 12px 60px 12px 32px;
            }
        }
    }
    &.custom-button--black, &.custom-button--red {
        .custom-button__text {
            color: #ffffff;
        }
    }
    &.custom-button--black {
        background-color: #000000;
    }
    &.custom-button--red {
        background-color: #f41121;
        border: solid 1px #f41121;
    }
    .custom-button__text, .custom-button__icon {
        &::before {
            content: "&";
            position: absolute;
            top: 50%;
            // font-family: 'icomoon' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            /* Better Font Rendering =========== */
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 12px;
            margin-top: -6px;
            .transition(0.3s all ease-in-out);
            .opacity(0);
        }
    }
    .custom-button__text {
        // font-family: @scoutCond;
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 1.3px;
        color: #222222;
        text-transform: uppercase;
        &::before {
            left: -14px;
        }
    }
    .custom-button__icon {
        &::before {
            right: 32px;
            .opacity(1);
        }
    }
}
