@import "noProduction";

.giftcard-radio {
    .giftcard-radio__content {
        text-align: center;
        .giftcard-radio__text {
            .giftcard-radio__title {
                font-size: 18px;
                line-height: normal;
                letter-spacing: 1.1px;
                color: #222222;
                margin: 10px 0 5px 0;
                @media @desktop {
                    margin-bottom: 10px;
                }
            }
            .giftcard-radio__description {
                font-size: 13px;
                line-height: 1.69;
                letter-spacing: normal;
                color: #808080;
                margin: 0 0 10px 0;
                @media @desktop {
                    margin-bottom: 20px;
                }
            }
        }
        .custom-radio {
            .custom-radio__content {
                .custom-radio__label {
                    display: none;
                }
            }
        }
    }
}
