@import "noProduction";

.giftcard-pdp {
    .giftcard-pdp__page-grid {
        display: flex;
        .giftcard-pdp__left, .giftcard-pdp__right {
            width: 100%;
            padding: 0 10px;
            @media @desktop {
                padding: 0 40px;
            }
        }
        .giftcard-pdp__left {
            .giftcard-pdp__step-grid {
                display: flex;
                margin: 30px 0 60px 0;
            }
            .giftcard-pdp__step1 {
                .giftcard-pdp__step-grid {
                    margin-top: 0;
                    @media @desktop {
                        margin-top: 30px;
                    }
                    & > div {
                        &:first-child {
                            .giftcard-radio {
                                padding-left: 0;
                            }
                        }
                        &:last-child {
                            .giftcard-radio {
                                padding-right: 0;
                            }
                        }
                    }
                }
                .step1__cards-types {
                    .step1__card-preview {
                        margin-top: 20px;
                        @media @desktop {
                            display: none;
                        }
                    }
                    .giftcard-radio {
                        max-width: 300px;
                        padding: 0 20px;
                        .giftcard-radio__content {
                            .giftcard-front {
                                display: none;
                                @media @desktop {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
            .giftcard-pdp__step2 {
                .step2__cards-amount {
                    .step2__radio-list {
                        display: none;
                        @media @desktop {
                            display: flex;
                        }
                        .custom-radio {
                            margin-right: 30px;
                        }
                    }
                    .step2__select-box {
                        display: block;
                        @media @desktop {
                            display: none;
                        }
                    }
                }
            }
            .giftcard-pdp__step3 {
                .giftcard-pdp__step-grid {
                    flex-direction: column;
                    .giftcard-pdp__step3__form {
                        width: 100%;
                        @media @desktop {
                            width: 85%;
                        }
                    }
                    .giftcard-pdp__step3__add-to-cart {
                        text-align: right;
                        margin-top: 50px;
                    }
                }
            }
        }
        .giftcard-pdp__right {
            display: none;
            @media @desktop {
                display: block;
            }
            .sticky-sidebar {
                width: ~"calc(50% - 80px)";
            }
            .preview-header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
                margin-bottom: 10px;
                .preview-header__title {
                    font-size: 20px;
                    line-height: 0.9;
                    letter-spacing: 1.3px;
                    color: #222222;
                }
                .preview-header__modal-cta {
                    font-size: 13px;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: normal;
                    text-align: right;
                    color: #9b9b9b;
                    text-decoration-skip: ink;
                }
            }
        }
    }
}
