.giftcard-recap {
    padding-left: 0;
    .giftcard-recap__info {
        list-style-type: none;
        .giftcard-recap__info-title, .giftcard-recap__info-desc {
            margin: 10px 0;
        }
        .giftcard-recap__info-title {
            text-transform: capitalize;
            font-weight: 600;
        }
        .giftcard-recap__info-desc {
            font-weight: 400;
            color: #c1c1c1;
        }
    }
}
