@import "noProduction";

.giftcard-front {
    width: auto;
    .giftcard-front__img {
        .imagePreview();
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 */
    }
}
