.section-header {
    .section-header__text {
        text-transform: uppercase;
        font-size: 22px;
        text-align: left;
        color: #ffffff;
        background: #4a4a4a;
        line-height: normal;
        letter-spacing: 1.4px;
        padding: 10px 15px;
    }
}
