//XXX: to not be included in the release files

// Add variables here
@desktop: ~"(min-width: 992px)";
@tablet: ~"(min-width: 768px)";
@mobile: ~"(max-width: 767px)";
@grey1: #f7f7f7;
.transition(@property) {
    -webkit-transition: @property;
    -moz-transition: @property;
    -o-transition: @property;
    transition: @property;
}
.opacity(@opacity: 0.5) {
    -moz-opacity: @opacity;
    -khtml-opacity: @opacity;
    -webkit-opacity: @opacity;
    opacity: @opacity;
    @opperc: @opacity * 100;
    -ms-filter:~"progid:DXImageTransform.Microsoft.Alpha(opacity=@{opperc})";
    filter:~"alpha(opacity=@{opperc})";
}
.imagePreview() {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.05);
}


body {
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Roboto Condensed",sans-serif;
}
.giftcard-front {
    background: #f7f7f7;
}
.giftcard-pdp__step3 {
    .giftcard-pdp__step-grid {
        & > div {
            width: 100%;
        }
    }
}
.add-giftcard-btn__card-icon {
    width: 60px;
    height: 34px;
    background: grey;
}
.footer {
    height: 3000px;
    width: 100%;
    background: #4a4a4a;
}
.giftcard-pdp__modal {
    display: none;
}
.hide {
    display: none !important;
}
.a,
.b,
.c {
    border: 2px solid black;
}
.a {
    height: 500px;
    width: 100%;
    .b,
    .c {
        position: relative;
        top: 0;
        display: inline-block;
        border-color: green;
        float: left;
    }
    .b {
        height: 100%;
        width: 70%;
        border-color: red;
    }
    .c {
        height: 100px;
        width: 20%;
    }
}
